<html>
    <head></head>
    <body>
        <h1>Node Blog</h1>
        
        <% for(let i = 0; i < posts.length; i++) { %>
            <article>
                <p><%= posts[i].body %></p>
            </article>
        <% } %>

        <form method = "post" action="addPost">
            <textarea name="body"></textarea>
            <input type="submit" value="Add Post" />
        </form>
    </body>
</html>